<section
  class="w-full max-w-[1440px] mx-auto sm:h-[545px] min-h-fit flex justify-start flex-col border-b-[3px] border-decorativo"
  id="sumate"
>
  <header class="w-full max-w-[1440px] flex justify-between">
    <h3
      class="text-[20px] min-w-[220px] h-[35px] text-text-subtitulos font-bold flex justify-center items-center"
    >
      Súmate a Hogares de paso
    </h3>
  </header>

  <article
    class="w-full max-w-[1440px] justify-between items-center py-[20px] pb-[30px] flex flex-col lg:flex-row"
  >
    <img
      src="../../../assets/images/perros.jpg"
      alt="Perros centro"
      width="675"
      height="455"
      loading="lazy"
      class="rounded-[20px] lg:w-[45%] h-auto w-auto"
    />

    <div class="lg:w-[45%] min-h-[370px] h-full">
      <h2
        class="text-[48px] text-text-subtitulos font-bold w-[400px] h-[70px] flex justify-center items-center"
      >
        Puentes de amor
      </h2>

      <p class="text-[24px] text-text-parrafos font-light">
        Los hogares de paso son el primer refugio para muchas mascotas que
        esperan encontrar una familia definitiva. Al brindarles un espacio
        temporal, ofreces más que un techo: les das amor, cuidados y una segunda
        oportunidad para sanar y prepararse para su nuevo hogar. En Huellas360,
        creemos que cada paso cuenta, y ser parte de este proceso transforma no
        solo la vida de un animal, sino también la de quienes los acogen. ¡Únete
        a nuestra red de hogares temporales y sé el puente que conecta a una
        mascota con su futuro feliz!
      </p>
    </div>
  </article>
</section>
