<section class="flex items-center justify-center h-screen w-full py-5">
  <article class="w-full flex justify-center">
    <app-info-user></app-info-user>
  </article>

  <main class="flex flex-col items-center h-full">
    <h1
      class="text-2xl md:text-3xl lg:text-4xl font-heading text-text-titulo mb-4"
    >
      Mapa de Cali, Colombia
    </h1>

    <div
      *ngIf="mapOptions"
      leaflet
      [leafletOptions]="mapOptions"
      (leafletMapReady)="onMapReady($event)"
      id="mapId"
      class="border-[3px] border-decorativo h-[300px] w-[280px] sm:h-[400px] sm:w-[350px] md:h-[500px] md:w-[450px] lg:h-[600px] lg:w-[500px] rounded-2xl overflow-hidden shadow-lg"
    ></div>
  </main>

  <aside class="w-full flex justify-center">
    <div class="text-center m-5">
      <button
        id="createPetButton"
        class="text-text-titulo bg-background-50 hover:bg-decorativo focus:ring-4 focus:ring-enlaces font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
        type="button"
        data-drawer-target="drawer-create-pet-default"
        data-drawer-show="drawer-create-pet-default"
        aria-controls="drawer-create-pet-default"
      >
        Crear reporte
      </button>
    </div>

    <!-- drawer component -->
    <div
      id="drawer-create-pet-default"
      class="fixed top-0 left-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform -translate-x-full bg-white"
      tabindex="-1"
      aria-labelledby="drawer-label"
      aria-hidden="true"
    >
      <h5
        id="drawer-label"
        class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase"
      >
        Crear reporte de mascota
      </h5>
      <button
        type="button"
        data-drawer-dismiss="drawer-create-pet-default"
        aria-controls="drawer-create-pet-default"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Cerrar menú</span>
      </button>
      <form class="flex flex-col">
        <div class="space-y-4">
          <div>
            <label
              for="reportType"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Tipo de reporte</label
            >
            <select
              id="reportType"
              name="reportType"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required=""
            >
              <option value="adopcion">Adopción</option>
              <option value="rescate">Rescate</option>
              <option value="extravío">Extravío</option>
              <option value="encuentro">Encuentro de mascota</option>
            </select>
          </div>
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Nombre de la mascota</label
            >
            <input
              type="text"
              name="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Ingrese el nombre de la mascota"
              required=""
            />
          </div>
          <div>
            <label
              for="breed"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Raza</label
            >
            <input
              type="text"
              name="breed"
              id="breed"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Raza de la mascota"
              required=""
            />
          </div>
          <div>
            <label
              for="color"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Color</label
            >
            <input
              type="text"
              name="color"
              id="color"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Color de la mascota"
              required=""
            />
          </div>
          <div>
            <label
              for="age"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Edad</label
            >
            <input
              type="number"
              name="age"
              id="age"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Edad en años"
              required=""
            />
          </div>
          <div>
            <label
              for="details"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Detalles adicionales</label
            >
            <textarea
              id="details"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Ingrese detalles adicionales sobre la mascota"
            ></textarea>
          </div>
        </div>
        <div
          class="bottom-0 left-0 flex justify-center w-full pb-4 mt-4 space-x-4 sm:px-4 sm:mt-0"
        >
          <button
            type="submit"
            class="w-full justify-center bg-background-50 hover:bg-decorativo focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Crear
          </button>
        </div>
      </form>
    </div>
  </aside>
</section>
