<section class="w-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-full lg:py-0"
  >
    <a
      routerLink="/"
      class="flex bg-white bg-opacity-[0.33] backdrop-blur-[25px] items-center font-semibold text-gray-900 justify-around rounded-lg shadow w-full p-3 space-y-2 md:space-y-4 sm:p-2 sm:max-w-md"
    >
      <app-arrow class="rotate-180"></app-arrow>
      Huellas360
    </a>
    <div
      class="w-full bg-white bg-opacity-[0.33] backdrop-blur-[25px] rounded-lg shadow border sm:max-w-md xl:p-0"
    >
      <div
        class="p-6 space-y-4 md:space-y-6 sm:p-8 flex flex-col justify-between"
      >
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-text-titulo md:text-2xl"
        >
          ¡Aquí Inicia Tu Aporte!
          <p>creando una cuenta</p>
        </h1>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="space-y-2 md:space-y-4"
        >
          <div>
            <label
              for="nombre"
              class="block mb-2 text-sm font-medium text-text-parrafos"
              >Su Nombre</label
            >
            <input
              formControlName="nombre"
              type="text"
              name="nombre"
              id="nombre"
              class="bg-white border border-decorativo text-text-parrafos text-sm rounded-lg focus:ring-text-parrafos focus:border-text-parrafos block w-full p-2.5"
              placeholder="Su Nombre"
              required
            />
          </div>
          <div>
            <label
              for="apellido"
              class="block mb-2 text-sm font-medium text-text-parrafos"
              >Su Apellido</label
            >
            <input
              formControlName="apellido"
              type="text"
              name="apellido"
              id="apellido"
              class="bg-white border border-decorativo text-text-parrafos text-sm rounded-lg focus:ring-text-parrafos focus:border-text-parrafos block w-full p-2.5"
              placeholder="Su Apellido"
              required
            />
          </div>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-text-parrafos"
              >Su Email</label
            >
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="bg-white border border-decorativo text-text-parrafos text-sm rounded-lg focus:ring-text-parrafos focus:border-text-parrafos block w-full p-2.5"
              placeholder="correo@ejemplo.com"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-text-parrafos"
              >Contraseña</label
            >
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-white border border-decorativo text-text-parrafos text-sm rounded-lg focus:ring-text-parrafos focus:border-text-parrafos block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-text-parrafos"
              >Confirme su Contraseña</label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="••••••••"
              class="bg-white border border-decorativo text-text-parrafos text-sm rounded-lg focus:ring-text-parrafos focus:border-text-parrafos block w-full p-2.5"
              required
            />
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                formControlName="terms"
                id="terms"
                aria-describedby="terms"
                type="checkbox"
                class="w-4 h-4 text-text-titulo bg-background-50 border-decorativo rounded focus:ring-text-parrafos"
                required
              />
            </div>
            <small class="ml-3">
              <label for="terms" class="font-light text-gray-500 text-wrap"
                >Acepto
                <a
                  class="font-medium text-enlaces hover:underline"
                  routerLink="/terminos"
                  >Términos y condiciones</a
                >
                de nuestro manejo de datos sensibles</label
              >
            </small>
          </div>
          <button
            type="submit"
            [disabled]="isSubmitting || registerForm.invalid"
            [ngClass]="{
              'opacity-50 cursor-not-allowed':
                isSubmitting || registerForm.invalid
            }"
            class="w-full text-white bg-enlaces hover:bg-text-subtitulos focus:ring-4 focus:outline-none focus:ring-decorativo font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Crear Cuenta
          </button>
          <p class="text-sm font-light text-gray-500 text-wrap">
            ¿Ya tienes una cuenta?
            <a
              routerLink="/login"
              class="font-medium text-enlaces hover:underline"
              >Ingresar Aqui</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
