section::after {
  content: "";
  position: absolute;
  top: -35%;
  right: 20%;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: #ffc662;
  border: 5px solid #fff8b1;
  z-index: -10;
  box-shadow: 5px 5px 5px #0001;
}

section::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 20%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #fff8b1;
  border: 5px solid #ffc662;
  z-index: -10;
  box-shadow: 5px 5px 5px #0001;
}

@media (max-width: 680px) {
  section::after {
    top: -20%;
  }

  section::before {
    bottom: 5%;
    left: auto;
    right: 20%;
  } 
}
